name: Terraform Validate with Conditional Logs

on:
  push:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        id: validate
        #run: terraform validate
        #continue-on-error: true
        run: |
            terraform validate -json > validate.json

      - name: Upload validation logs
        if: steps.validate.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: terraform-validate-errors
          path: validate.json
