name: Terraform CI (Workflow Env)

on:
  push:
    branches: [ master ]

env:
  TF_WORKSPACE: production
  AWS_REGION: ap-south-1
  TF_VAR_project_name: payments-api
  TF_VAR_environment: production

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - run: terraform init
      - run: terraform plan
      - run: terraform apply -auto-approve
